---
layout: doc
title: General Reference
type: general
css:
- commonConfigFeature
- general-reference
js: general-references
permalink: /docs/ref/general/
---
{% assign generalDocs = site.pages | where: 'layout', 'general-reference' | where: 'type', 'general' | sort: 'title' %}

<div id="background-container">
    <div class="row">
        <h1 id="docs-title">Kabanero Docs</h1>
    </div>
    <div class="row">
        <!-- table of contents section -->
        <div id="toc-column" class="col-sm-2 collapsed in">
            <div id="toc-inner">
                {% if generalDocs.size > 0 %}
                <div id="toc-container">
                    <ul id="general-toc">
                        {% for doc in generalDocs %}
                        <li>
                            <div role="button" href="{{ doc.url }}" tabindex="0">{{ doc.title }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                <div>No doc found</div>
                {% endif %}
            </div>
        </div>
        <!-- content -->
        <div id="general-content" tabindex="0" class="col-sm-9 position-relative">
        </div>
    </div>
</div>


