---
layout: default
title: Guides
css:
- guide-card
- guides
js: 
- guides
permalink: /guides/
---
{% assign t = site.data[site.active_lang].guides %}

<!-- Build a list of all the documents in the guides code base -->
{% assign static-guides = site.pages | where: 'layout', 'guide' %}
{% assign multipane-static-guides = site.pages | where: 'layout', 'guide-multipane' %}
{% assign interactive-guides = site.pages | where: 'layout', 'interactive-guide' %}
{% assign multipane-iguides = site.pages | where: 'layout', 'iguide-multipane' %}
{% assign markdown-guides = site.pages | where: 'layout', 'guide-markdown' %}
{% assign all-markdown-files = static-guides | concat: interactive-guides | concat: multipane-static-guides | concat: markdown-guides | concat: multipane-iguides %}
{% assign all-guides = '' | split: '' %}

<!-- Remove any documents deemed private (archived, templates, etc) -->
{% for guide in all-markdown-files %}
    {% unless guide.archived or guide.path contains "guides/guides-template" or guide.path contains "guides/guides-common" or guide.path contains "guides/iguides-common" %}
        {% assign all-guides = all-guides | push: guide %} 
    {% endunless %}
{% endfor %}

<!-- Basic guides -->
{% assign basic-guides = all-guides | where: 'guide-category', 'basic' | sort: 'releasedate' | reverse %}
{% assign basic-essential-guides = all-guides | where: 'guide-category', 'basic' | where: 'essential', true | sort: 'essential-order' %}

<!-- Stacks Guides -->
{% assign collection-guides = all-guides | where: 'guide-category', 'collections' %}
{% assign stacks-guides = all-guides | where: 'guide-category', 'stacks' | concat: collection-guides | sort: 'releasedate' | reverse %}

<!-- Pipelines Guides -->
{% assign pipelines-guides = all-guides | where: 'guide-category', 'pipelines' | sort: 'releasedate' | reverse %}

<!-- More guides -->
{% assign uncatagorized-guides = '' | split: '' %}
{% for guide in all-guides %}
    {% if guide.guide-category == nil or guide.guide-category == 'none' %}
        {% assign uncatagorized-guides = uncatagorized-guides | push: guide %} 
    {% endif %}
{% endfor %}


<!-- Intro and search bar -->
<div id="guides-information-container" class="container-fluid">
    <div class="row">
        <div id="guide-search-information" class="col-xs-12 col-sm-7 col-md-6">
            <h2 id="guides-title">{{t.guides}}</h2>
            <p id="guides-description">{{t.page-description}}</p>
        </div>
        <div id="guides-search-container" class="col-xs-12 col-sm-5 col-md-6">
            <input id="guide-search-input" required class="search-box" placeholder="Search all guides" autocomplete="off"
            data-toggle="popover" data-placement="bottom" data-html="true" aria-label="Search">
            <button class="clear-btn" type="reset" tabindex="0" aria-label="Clear search bar"></button>
            <div id="popover-content" class="hide">
                <p class="tags-title">{{t.suggested-tags}}</p>
                <a class="tag-button">{{t.appsody}}</a>
                <a class="tag-button">{{t.nodejs}}</a>
            </div>
        </div>
    </div>
</div>


<!-- Basic Guides -->
{% if basic-guides.size > 0 %}
    <div id="guides-basic-banner" class="basic-section container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="guide-category-title">
                    {{t.basic-guides.title}} {{t.basic-guides.title-two}}
                </h2>
            </div>
            <div class="col-sm-3">
                <h2 class="total-guide-count guide-category-title">
                    {{basic-guides.size}} {% if basic-guides.size > 1 %}{{t.guides}}{% else %}{{t.guide}}{% endif %}
                </h2>
            </div>
        </div>
    </div>
    <div id="guides-basic-container" class="basic-section container-fluid">
        <div class="essential row">
            {% for guide in basic-guides %}
            <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
                data-description="{{ guide.description | downcase }}" 
                data-tags="{{ guide.tags | join: ' ' | downcase }}" 
                data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                    <div class="guide-title-and-description-container">
                        <h3 class="guide-title">{{guide.title}}</h3>
                        <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                    </div>
                    <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                    <span class="guide-duration">{{guide.duration}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Stacks Guides -->
{% if stacks-guides.size > 0 %}
    <div id="guides-basic-banner" class="basic-section container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="guide-category-title">
                    {{t.collections-guides.title}}
                </h2>
            </div>
            <div class="col-sm-3">
                <h2 class="total-guide-count guide-category-title">
                    {{stacks-guides.size}} {% if stacks-guides.size.size > 1 %}{{t.guides}}{% else %}{{t.guide}}{% endif %}
                </h2>
            </div>
        </div>
    </div>
    <div id="guides-basic-container" class="basic-section container-fluid">
        <div class="essential row">
            {% for guide in stacks-guides %}
            <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
                data-description="{{ guide.description | downcase }}" 
                data-tags="{{ guide.tags | join: ' ' | downcase }}" 
                data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                    <div class="guide-title-and-description-container">
                        <h3 class="guide-title">{{guide.title}}</h3>
                        <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                    </div>
                    <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                    <span class="guide-duration">{{guide.duration}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Pipelines Guides -->
{% if pipelines-guides.size > 0 %}
    <div id="guides-basic-banner" class="basic-section container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="guide-category-title">
                    {{t.pipelines-guides.title}}
                </h2>
            </div>
            <div class="col-sm-3">
                <h2 class="total-guide-count guide-category-title">
                    {{pipelines-guides.size}} {% if pipelines-guides.size > 1 %}{{t.guides}}{% else %}{{t.guide}}{% endif %}
                </h2>
            </div>
        </div>
    </div>
    <div id="guides-basic-container" class="basic-section container-fluid">
        <div class="essential row">
            {% for guide in pipelines-guides %}
            <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
                data-description="{{ guide.description | downcase }}" 
                data-tags="{{ guide.tags | join: ' ' | downcase }}" 
                data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                    <div class="guide-title-and-description-container">
                        <h3 class="guide-title">{{guide.title}}</h3>
                        <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                    </div>
                    <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                    <span class="guide-duration">{{guide.duration}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- MORE GUIDES -->
{% if uncatagorized-guides.size > 0 %}
    <div id="guides-basic-banner" class="basic-section container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="guide-category-title">
                    {{t.uncatagorized-guides.title}}
                </h2>
            </div>
            <div class="col-sm-3">
                <h2 class="total-guide-count guide-category-title">
                    {{uncatagorized-guides.size}} {% if uncatagorized-guides.size > 1 %}{{t.guides}}{% else %}{{t.guide}}{% endif %}
                </h2>
            </div>
        </div>
    </div>
    <div id="guides-basic-container" class="basic-section container-fluid">
        <div class="essential row">
            {% for guide in uncatagorized-guides %}
            <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
                data-description="{{ guide.description | downcase }}" 
                data-tags="{{ guide.tags | join: ' ' | downcase }}" 
                data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                
                    <div class="guide-title-and-description-container">
                        <h3 class="guide-title">{{guide.title}}</h3>
                        <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                    </div>
                    <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                    <span class="guide-duration">{{guide.duration}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}