---
layout: default
title: Guides
css:
- guide-card
- guides
js: 
- guides
permalink: /guides/
---
{% assign t = site.data[site.active_lang].guides %}

<!-- Build a list of all the documents in the guides code base -->
{% assign static-guides = site.pages | where: 'layout', 'guide' %}
{% assign multipane-static-guides = site.pages | where: 'layout', 'guide-multipane' %}
{% assign interactive-guides = site.pages | where: 'layout', 'interactive-guide' %}
{% assign multipane-iguides = site.pages | where: 'layout', 'iguide-multipane' %}
{% assign markdown-guides = site.pages | where: 'layout', 'guide-markdown' %}
{% assign all-markdown-files = static-guides | concat: interactive-guides | concat: multipane-static-guides | concat: markdown-guides | concat: multipane-iguides | sort: 'releasedate' | reverse %}
{% assign all-guides = '' | split: '' %}

<!-- Remove any documents deemed private (archived, templates, etc) -->
{% for guide in all-markdown-files %}
    {% unless guide.archived or guide.path contains "guides/guides-template" or guide.path contains "guides/guides-common" or guide.path contains "guides/iguides-common" %}
        {% assign all-guides = all-guides | push: guide %} 
    {% endunless %}
{% endfor %}

<!-- Basic guides -->
{% assign basic-guides = all-guides | where: 'guide-category', 'basic' | sort: 'releasedate' | reverse %}
{% assign basic-essential-guides = all-guides | where: 'guide-category', 'basic' | where: 'essential', true | sort: 'essential-order' %}

<!-- Collections Guides -->
{% assign collections-guides = all-guides | where: 'guide-category', 'collections' | sort: 'releasedate' | reverse %}

<!-- Microprofile guides -->
{% assign microprofile-guides = all-guides | where: 'guide-category', 'microprofile' | where: 'essential', false | sort: 'releasedate' | reverse %}
{% assign microprofile-essential-guides = all-guides | where: 'guide-category', 'microprofile' | where: 'essential', true | sort: 'essential-order' %}

<!-- More guides -->
{% assign uncatagorized-guides = '' | split: '' %}
{% for guide in all-guides %}
    {% if guide.guide-category == nil or guide.guide-category == 'none' %}
        {% assign uncatagorized-guides = uncatagorized-guides | push: guide %} 
    {% endif %}
{% endfor %}


<!-- INTRODUCTION AND SEARCH BAR -->
<div id="guides-information-container" class="container-fluid">
    <div class="row">
        <div id="guide-search-information" class="col-xs-12 col-sm-7 col-md-6">
            <h2 id="guides-title">{{t.page-title}}</h2>
            <p id="guides-description">{{t.page-description}}</p>
        </div>
        <div id="guides-search-container" class="col-xs-12 col-sm-5 col-md-6">
            <input id="guide-search-input" required class="search-box" placeholder="Search all guides" autocomplete="off"
            data-toggle="popover" data-placement="bottom" data-html="true" aria-label="Search">
            <button class="clear-btn" type="reset" tabindex="0" aria-label="Clear search bar"></button>
            <div id="popover-content" class="hide">
                <p class="tags-title">{{t.suggested-tags}}</p>
                <a class="tag-button">{{t.appsody}}</a>
                <a class="tag-button">{{t.nodejs}}</a>
            </div>
        </div>
    </div>
</div>


<!-- BASIC GUIDES -->
<div id="guides-basic-banner" class="basic-section container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="guide-category-title"><b>{{t.basic-guides.title}}</b>  {{t.basic-guides.title-two}}</h2>
        </div>
        <div class="col-sm-3">
            <h2 class="total-guide-count guide-category-title"><b>{{basic-guides.size}} {{t.basic-guides.catigory-title}}</b></h2>
        </div>
    </div>
</div>
<div id="guides-basic-container" class="basic-section container-fluid">
    <div class="essential row">
        {% for guide in basic-guides %}
        <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
            data-description="{{ guide.description | downcase }}" 
            data-tags="{{ guide.tags | join: ' ' | downcase }}" 
            data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                <div class="guide-title-and-description-container">
                    <h3 class="guide-title">{{guide.title}}</h3>
                    <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                </div>
                <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                <span class="guide-duration">{{guide.duration}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- COLLECTIONS GUIDES -->
<div id="guides-basic-banner" class="basic-section container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="guide-category-title"><b>{{t.collections-guides.title}}</b></h2>
            </div>
            <div class="col-sm-3">
                <h2 class="total-guide-count guide-category-title"><b>{{collections-guides.size}} {{t.basic-guides.catigory-title}}</b></h2>
            </div>
        </div>
    </div>
    <div id="guides-basic-container" class="basic-section container-fluid">
        <div class="essential row">
            {% for guide in collections-guides %}
            <div class="guide-column col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a href="{{guide.url}}" class="guide_item" data-title="{{ guide.title | downcase }}" 
                data-description="{{ guide.description | downcase }}" 
                data-tags="{{ guide.tags | join: ' ' | downcase }}" 
                data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}">
                    <div class="guide-title-and-description-container">
                        <h3 class="guide-title">{{guide.title}}</h3>
                        <p class="guide-description" title="{{guide.description}}">{{guide.description}}</p>
                    </div>
                    <img class="duration-clock-icon" src="/img/guide-duration-clock-icon-small.svg" alt="Duration">
                    <span class="guide-duration">{{guide.duration}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

