---
layout: default
home: true
js:
- home
- stacks
- twitterWidgets
css:
- home
- blog
seo-title: Kabanero
published: false
---
{% assign t = site.data[site.active_lang].index %}

<div class="container-fluid">

    <!-- Intro and Get Started Button -->
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div id="intro-content">
                <img src="/img/kabanero-final.svg" class="img-fluid" id="kabanero-img" alt="boxes">
                <h3 id="intro-lighten-up-title">{{t.intro-title}}</h3>
                    {{t.intro-paragraph}}
                <a class="col-md-5" id="get-started-link" href="/get-started" aria-label="Navigate to getting started">{{t.get-started}}</a>
            </div>
        </div>
        <div class="col-md-2 d-none d-md-block">
            <img src="/img/kabanero-logo-stripe.png " class="img-fluid" id="kabanero-logo" alt="boxes">
        </div>
    </div>

    <!-- Video about the Kabanero Developer Workflow -->
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="video-wrapper"> 
                <iframe width="100%" title="Kabanero Developer Workflow" height="400px" src="https://www.youtube.com/embed/_7--MS0RNXI" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Role Boxes -->
    <div class="row area justify-content-md-center">
        <div class="col-md-8">
            <div class="row">
                <h2 class="col text-center" id="role-box-title">{{t.development.something-for-whole-team}}</h2>
            </div>
            <div class="row text-center">
                <div class="col-xl-4">
                    <h3>{{t.development.tab}}</h3>
                    <div class="role-box">
                        <img class="role-box-img img-fluid" src="/img/logos/development.png" alt="Developer image">
                        <p>{{t.development.description}}</p>
                        <a role="button" class="btn btn-outline-dark col-md-8" href="/developer" aria-label="Learn more about the Kabanero developer experience">{{t.common.learn-more}}</a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <h3>{{t.architecture.tab}}</h3>
                    <div class="role-box">
                        <img class="role-box-img img-fluid"" src="/img/logos/architecture.png">
                        <p>{{t.architecture.description}}</p>
                        <a role="button" class="btn btn-outline-dark col-md-8" href="/architect" aria-label="Learn more about the Application Stacks management">{{t.common.learn-more}}</a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <h3>{{t.operations.tab}}</h3>
                    <div class="role-box">
                        <img class="role-box-img img-fluid"" src="/img/logos/operations.png">
                        <p>{{t.operations.description}}</p>
                        <a role="button" class="btn btn-outline-dark col-md-8" href="/foundation-install" aria-label="Learn more about Kabanero foundation installation">{{t.common.learn-more}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Open Source Platform Box Buttons -->
    <div class="row area open-source-platform justify-content-md-center">
        <div class="col-md-8">
            <div class="row">
                <!-- Languages & Runtimes -->
                <div class="col open-source-platform-col">
                    <div id="open-source-platform-languages-box" role="button" class="open-source-platform-box" data-topic="languages" tabindex="0">
                        <p class="open-source-platform-paragraph">
                            {{t.open-source-platform.runtimes.languages}}<br>& {{t.open-source-platform.runtimes.runtimes}}
                        </p>
                    </div>
                </div>

                <div class="col open-source-platform-col">
                    <div class="open-source-platform-horizontal-separator"></div>
                </div>

                <!-- Develop -->
                <div class="col open-source-platform-col">
                    <div id="open-source-platform-develop-box" role="button" class="open-source-platform-box" data-topic="develop" tabindex="0">
                        <p class="open-source-platform-paragraph">
                                {{t.open-source-platform.develop.tab-name}}
                        </p>
                    </div>
                </div>

                <div class="col open-source-platform-col">
                    <div class="open-source-platform-horizontal-separator"></div>
                </div>

                <!-- Build -->
                <div class="col open-source-platform-col">
                    <div id="open-source-platform-build-box" role="button" class="open-source-platform-box" data-topic="build" tabindex="0">
                        <p class="open-source-platform-paragraph">
                            {{t.open-source-platform.build.tab-name}}
                        </p>
                    </div>
                </div>

                <div class="col open-source-platform-col">
                    <div class="open-source-platform-horizontal-separator">
                    </div>
                </div>

                <!-- Deploy -->
                <div class="col open-source-platform-col">
                    <div id="open-source-platform-deploy-box" role="button" class="open-source-platform-box" data-topic="deploy" tabindex="0">
                        <p class="open-source-platform-paragraph">
                        {{t.open-source-platform.deploy.tab-name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Open Source Platform Detail Box -->
    <div class="row open-source-platform justify-content-md-center">
        
        <!-- Languages $ Runtime detail -->
        <div class="col-md-8">
            <div id="open-source-platform-languages-collapse" class="row collapse open-source-platform-content-box">
                <div class="col">
                    <p class="open-source-platform-content-title">{{t.open-source-platform.runtimes.languages}} & {{t.open-source-platform.runtimes.runtimes}}</p>
                    <p>{{t.open-source-platform.runtimes.description}}</p>
                </div>
                <div class="col">
                    <span>{{t.common.java}}</span><span class="dot-separator"></span>
                    <span>{{t.common.node}}</span><span class="dot-separator"></span>
                    <span>{{t.common.go}}</span><span class="dot-separator"></span>
                    <span>{{t.common.python}}</span><span class="dot-separator"></span>
                    <span>{{t.common.microProfile}}</span><span class="dot-separator"></span>
                    <span>{{t.common.jakarta}}</span><span class="dot-separator"></span>
                    <span>{{t.common.spring}}</span><span class="dot-separator"></span>
                    <span>{{t.common.open-liberty}}</span>
                </div>
            </div>
        </div>

        <!-- Develop detail -->
        <div class="col-md-8">
            <div id="open-source-platform-develop-collapse" class="row collapse open-source-platform-content-box">
                <div class="row">
                    <div class="col-md-1 d-none d-md-block open-source-platform-image-column">
                        <a class="image-link" target="_blank" href="https://www.eclipse.org/che/">
                            <img class="img-fluid open-source-platform-image-centered open-source-platform-image-large" src="/img/logos/85x85/eclipse-che.png" />
                        </a>
                    </div>
                    <div class="col-md-1 d-none d-md-block open-source-platform-image-column">
                        <a class="image-link" target="_blank" href="https://appsody.dev">
                            <img class="img-fluid open-source-platform-image-centered open-source-platform-image-large" src="/img/appsody.png" />
                        </a>
                    </div>
                    <div class="col-md-1 d-none d-md-block open-source-platform-image-column">
                        <a class="image-link" target="_blank" href="https://codewind.dev">
                            <img class="img-fluid open-source-platform-image-centered open-source-platform-image-large" src="/img/codewind.png" />
                        </a>
                    </div>
                    <div class="col-md">
                        <p class="open-source-platform-content-title">{{t.open-source-platform.develop.tab-name}}</p>
                        <p>{{t.open-source-platform.develop.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Build detail -->
        <div class="col-md-8">
            <div id="open-source-platform-build-collapse" class="row collapse open-source-platform-content-box">
                <div class="row">
                    <div class="col-1 open-source-platform-image-column">
                        <a class="image-link" target="_blank" href="https://tekton.dev/">
                            <img class="open-source-platform-image-centered open-source-platform-image-large"
                                src="/img/logos/100x100/tekton.png"
                                alt="tekton logo">
                        </a>
                    </div>
                    <div class="col">
                        <p class="open-source-platform-content-title">{{t.open-source-platform.build.tab-name}}</p>
                        <p>
                            {{t.open-source-platform.build.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Deploy detail -->
        <div class="col-md-8">
            <div id="open-source-platform-deploy-collapse" class="row collapse open-source-platform-content-box">
                <div class="row">
                    <div class="col">
                        <p class="open-source-platform-content-title">{{t.open-source-platform.deploy.tab-name}}</p>
                        <p>{{t.open-source-platform.deploy.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Built on Kubernetes -->
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="foundational-tools foundational-tools-container row">
                <div class="col-sm-2 offset-sm-3">
                    <a class="image-link" target="_blank" href="https://kubernetes.io/">
                        <img id="kube-img" src="/img/logos/85x85/kubernetes.png" class="img-fluid d-none d-md-block" alt="Kubernetes logo">
                    </a>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col">
                            <p class="open-source-platform-content-title">{{t.foundational-tools.title}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="foundational-tech"><u>{{t.common.kubernetes}}&reg;</u></span>
                            <span class="foundational-tech"><u>{{t.common.knative}}</u></span>
                            <span class="foundational-tech"><u>{{t.common.istio}}</u></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Stacks Buttons-->
    <div class="row featured-models justify-content-md-center">
        <div class="col-md-8">
            <div class="row">
                <h2 class="col-md-12 text-center" id="featured-stacks-title">{{t.featured-stacks.title}}</h2>
            </div>
            <div class="row">
                <div class="col model-logo text-center">
                    <button data-toggle="collapse"
                        href="#microprofile-collapse"
                        aria-expanded="false"
                        aria-controls="microprofile-collapse"
                        class="featured-model-box"
                        alt="microprofile logo">
                            <img class="img img-fluid" src="/img/collections-icon.png" 
                                onmouseover="hoverFeaturedStack(this)" 
                                onmouseout="unhoverFeaturedStack(this)">
                            <br><label class="featured-model-label">{{t.common.eclipse-microProfile}}</label>
                    </button>
                </div>
                <div class="col model-logo text-center">
                    <button data-toggle="collapse"
                        href="#spring-collapse"
                        aria-expanded="false"
                        aria-controls="spring-collapse"
                        class="featured-model-box"
                        alt="java spring logo">
                            <img class="img img-fluid" src="/img/collections-icon.png" 
                                onmouseover="hoverFeaturedStack(this)" 
                                onmouseout="unhoverFeaturedStack(this)">
                            <br><label class="featured-model-label">{{t.common.spring}}</label>
                    </button>
                </div>
                <div class="col model-logo text-center">
                    <button data-toggle="collapse"
                        href="#nodejs-collapse"
                        aria-expanded="false"
                        aria-controls="nodejs-collapse"
                        class="featured-model-box"
                        alt="nodejs logo">
                            <img class="img img-fluid" src="/img/collections-icon.png" 
                                onmouseover="hoverFeaturedStack(this)" 
                                onmouseout="unhoverFeaturedStack(this)">
                            <br><label class="featured-model-label">{{t.common.nodeJS}}</label>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Stacks Detail boxs -->

    <!-- Eclipse Microprofile -->
    <div class="row featured-stacks-detail justify-content-md-center">
        <div class="col-md-8">
            <div class="collapse featured-stacks-collapse" id="microprofile-collapse">
                <div class="row card-row">
                    <div class="col-md card card-body">
                        <div class="row collapseRow">
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://openliberty.io/">
                                    <img src="/img/logos/85x85/open-liberty.png" class="img-fluid stackImg">
                                    <p>{{t.common.open-liberty}}</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" href="#">
                                    <img src="/img/logos/85x85/operator.png" class="img-fluid stackImg">
                                    <p>{{t.common.operators}}</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://prometheus.io/">
                                    <img src="/img/logos/85x85/prometheus.png" class="img-fluid stackImg">
                                    <p>{{t.common.prometheus}}&reg;</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://tekton.dev/">
                                    <img src="/img/logos/85x85/tekton.png" class="img-fluid stackImg">
                                    <p>{{t.common.tekton}}&trade;</p>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col dopdown-text">
                                <p>{{t.featured-stacks.eclips-microprofile-paragraph}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spring -->
    <div class="row featured-stacks-detail justify-content-md-center">
        <div class="col-md-8">
            <div class="collapse featured-stacks-collapse" id="spring-collapse">
                <div class="row card-row">
                    <div class="col-md card card-body">
                        <div class="row collapseRow">
                            <div class="col text-center wide-logo">
                                <a class="image-link" target="_blank" href="https://openjdk.java.net/">
                                    <img src="/img/logos/85x85/openJDK.png" class="img-fluid">
                                    <p>{{t.common.openjdk}}&trade;</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <img src="/img/logos/85x85/operator.png" class="img-fluid stackImg">
                                <p>{{t.common.operators}}</p>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://prometheus.io/">
                                    <img src="/img/logos/85x85/prometheus.png" class="img-fluid stackImg">
                                    <p>{{t.common.prometheus}}&reg;</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://tekton.dev/">
                                    <img src="/img/logos/85x85/tekton.png" class="img-fluid stackImg">
                                    <p>{{t.common.tekton}}&trade;</p>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col dopdown-text">
                                <p>{{t.common.spring}}&reg; {{t.featured-stacks.spring-paragraph}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Node.js -->
    <div class="row featured-stacks-detail justify-content-md-center">
        <div class="col-md-8">
            <div class="collapse featured-stacks-collapse" id="nodejs-collapse">
                <div class="row card-row">
                    <div class="col-md card card-body">
                        <div class="row collapseRow">
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://nodejs.org">
                                    <img src="/img/logos/100x100/nodejs.png" class="img-fluid stackImg">
                                    <p>{{t.common.nodeJS}}</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <img src="/img/logos/85x85/operator.png" class="img-fluid stackImg">
                                <p>{{t.common.operators}}</p>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://prometheus.io/">
                                    <img src="/img/logos/85x85/prometheus.png" class="img-fluid stackImg">
                                    <p>{{t.common.prometheus}}&reg;</p>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a class="image-link" target="_blank" href="https://tekton.dev/">
                                    <img src="/img/logos/85x85/tekton.png" class="img-fluid stackImg">
                                    <p>{{t.common.tekton}}&trade;</p>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col dopdown-text">
                                <p>{{t.featured-stacks.nodejs-paragraph}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Support -->
    <div class="row justify-content-md-center area">
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">{{t.support.header}}</h2>
                </div>
            </div>
            <div class="row support-text">
                <div class="col text-center support-desc-text">
                    <p>
                        {{t.support.description}}
                        <a href="https://www.ibm.com/cloud/cloud-pak-for-applications" target="_blank" class="cpa-link" aria-label="Navigate to IBM Cloud Pak for Applications information page">
                            {{t.support.link}}
                        </a>
                        {{t.support.description-cont}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest News -->
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="row area">
                <div class="col text-center">
                    <h2 class="latest-news">{{t.blogs-section.latest-news}}</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom two columns Blog/Twitter-->
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="row">
                <!-- Left Blogs / Get Involved Column -->
                <div class="col-xl-6">
                    <div class="row visit-blog-row">
                        <div class="col-xl">
                            <div class="row">
                                <h3 class="col-md-5 visit-text">{{t.blogs-section.visit-text}}</h3>
                                <div class="col-md-3"></div>
                                <a role="button" class="btn col-md-3 visit-blog-button kabanero-colored-button" href="/blog" aria-label="Visit Kabanero blog">{{t.blogs-section.visit}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row empty-row"></div>
                    {% for post in site.posts limit:2 %}
                        <div class="row blog-post-row">
                            <div class="col-xl blog-post-column">
                                <div class="row">
                                    <div class="blog-header">
                                        <img src="{{ post.author_picture }}" class="blog-post-author-image" alt="Blog author picture">
                                        <a class="blog-post-author-name" href="{{ post.author_github }}">{{ post.author }}</a>
                                        <span class="blog-post-date">on {{ post.date | date: "%B %d, %Y" }}</span>
                                    </div>
                                </div>
                                <div class="row title-row">
                                    {% if post.redirect_link %}
                                        <h2><a href="{{ post.redirect_link }}" class="blog-title">{{ post.title | escape }}</a></h2>
                                    {% else %}
                                        <h2><a href="{{ post.url | relative_url }}" class="blog-title">{{ post.title | escape }}</a></h2>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    {% if post.redirct_link %}
                                        <p>{{ post.seo-description | escape }}</p>
                                    {% else %}
                                        <p>{{ post.seo-description | escape }}</p>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="text-right">
                                    {% if post.redirect_link %}
                                        <a href="{{ post.redirect_link }}" class="blog-read-more" aria-label="Read the blog titled {{ post.title }}">{{t.blogs-section.read-more}}</a>
                                    {% else %}
                                        <a href="{{ post.url | relative_url }}" class="blog-read-more" aria-label="Read the blog titled {{ post.title }}">{{t.blogs-section.read-more}}</a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row empty-row"></div>
                    {% endfor %}
                    <div class="row boxed-row">
                        <div class="col-sm-8">
                            <h3>{{t.find-us}}</h3>
                        </div>
                        <div class="col-sm-4">
                            <a target="_blank" href="{{site.stackoverflow_url}}">
                                <img src="/img/stackoverflow-orange.svg" class="img-fluid stackoverflow-img" alt="Stackoverflow logo" aria-label="Navigate to Kabanero questions on Stackoverflow">
                            </a>
                        </div>
                    </div>
                    <div class="row boxed-row">
                        <div class="col-sm-6">
                            <h3 class="get-involved">{{t.get-involved}}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a role="button" class="btn kabanero-colored-button boxed-button" href="/contribute" aria="View Kabanero contribution information">{{t.contribute}}</a>
                        </div>
                    </div>
                    <div class="row empty-row"></div>
                </div>

                <!-- Right column Twitter -->
                <div class="col-xl-5 offset-xl-1" id="twitter-col">
                    <div class="row">
                        <a class="twitter-timeline" data-height="622.5" href="{{site.twitter_url}}">{{t.tweets-by}} {{site.twitter_username}} </a>
                    </div>
                    <div class="row boxed-row">
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <h3 class="slack-text">{{t.chat-with-us}}</h3>
                            </div>
                            <div class="row">
                                <a target="_blank" href={{site.slack_invite_url}} aria-label="Request an invite to the Kabanero Slack channel">
                                    <p class="slack-invite">{{t.request-an-invite}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a target="_blank" href={{site.slack_url}} aria-label="Navigate to Kabanero Slack channel">
                                <img src="/img/slack_Icon_Orange.svg" id="orange-slack-link" class="img-fluid slack-link" alt="Slack logo">
                            </a>
                        </div>
                    </div>
                    <div class="row boxed-row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h3 class="get-involved">{{t.see-what-is-cookin}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a role="button" class="btn kabanero-colored-button boxed-button" href="/community" aria-label="View the Kabanero community page">{{t.join-community}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
