.header{
  font-size: 2.2em;
}

#kabanero-img{
  margin: 5%;
}

#components-text{
  margin-top: 30px;
}

.section {
  padding: 3rem 1.5rem;
}

.notification.is-danger {
  background-color: #d1510d;
  color: #fff;
}

.notification {
  border-radius: 4px;
  padding: 3.25rem 2.5rem 3.25rem 1.5rem;
  position: relative;
}

.message{
  font-size: 1.5rem !important;
  text-align: center;
}

.stacks-img{
  margin:40px 0 40px 0;
}

.bottomMargin{
  margin-bottom:20px;
}

#stack-management-link, 
#install-kabanero-cli-link {
  width: 227px;
  font-size: 17px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #C43804;
  border-radius: 7px;
  padding: 10px 25px;
  margin-top: 40px;
  margin-bottom: 8px;
  text-align: center;
  transition: background-color .2s;
}

.kabenero-cli-link-button{
  margin-top: 40px;
}