/* TABS */
#tabs_container {
	border-bottom: 4px solid rgba(200, 210, 210, 0.41);
	& .nav-tabs {
		border-bottom: 1px solid #ffffff;
		& > .nav-item > .nav-link {
			border: none;
			color: #c43804 !important;
			padding-left: 31px;
			padding-right: 31px;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-right: 0px;
			margin-left: 0px;
			margin-top: 20px;
			font-weight: 500;
			font-size: 12px;
			cursor: pointer;
		}
		& .nav-link.active,
		.nav-link.active:hover {
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 4px solid #292828;
			color: #292828;
			background: transparent;
			margin-bottom: -4px;
		}
		& .nav-link:hover {
			background: rgba(232, 236, 236, 0.39);
			border-color: rgba(232, 236, 236, 0.39);
		}
	}
}

.nav-tabs > li,
.nav-pills > li {
	float: none;
	display: inline-block;
}

.nav-tabs > .nav-item > .nav-link {
	margin-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 12px;
}

@media (max-width: 991.98px) {
	.navbar-dark .navbar-nav .nav-link,
	.navbar-dark .navbar-nav .nav-link:hover,
	.navbar-dark .navbar-nav .nav-link:active,
	#fork_button {
		font-family: "IBM Plex Sans", Arial Narrow, Helvetica, Arial;
		font-size: 35px;
		color: #ffffff;
		margin-right: 26px;
		margin-left: 26px;
	}
}

.developer-experience-header {
	text-align: center;
}

.workflow-image {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 15px;
}

.download-detail {
	padding: 25px;
}

.logo {
	height: 100px;
}

#components-text {
	margin-top: 30px;
}

.usage-video {
	margin-left: 20em;
}

.dev-exp-title {
	display: inline-flex;
}

.header {
	font-size: 2.2em;
}

.install-img {
	display: inline-flex;
	margin-bottom: 20px;
	margin-top: 30px;
}

.installation_link {
	margin-top: 22px;
	margin-right: 15px;
}

.developer_video_container {
	display: inline-flex;
	margin-top: 45px;
}

.tab_logo {
	height: 75px;
	margin-top: 50px;
}

#try_it_cli_link {
	margin-top: 25px;
}

.jane_video {
	width: 25em;
}

.jane_img {
	margin-top: -40px;
}

.appsody-link {
	margin-bottom: 15px;
}

#frameworks-top-row {
	margin-top: 30px;
}

.topBorder {
	border-top: 1px solid gray;
}

.page-description {
	text-align: center !important;
}

.videoDescription {
	font-size: 14px;
	text-align: center;
}

.install-header {
	margin-top: 15px;
}
