$color-kabanero:#C43804;

.container{
    margin-top:30px;
}

.centered{
    text-align: center;
}

.link-button {
    display: inline-block;
    width: 227px;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: $color-kabanero;
    border-radius: 7px;
    padding: 10px 25px;
    margin-top:40px;
    margin-bottom: 8px;
    text-align: center;
    transition: background-color .2s;
}

a:hover{
    color: #DDDDDD
}
