.developer-experience-header{
    text-align: center;
}

.workflow-image{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.download-detail{
    padding: 25px;
}

.logo{
    height: 75px;
}

#components-text{
    margin-top: 30px;
}

.header{
    font-size: 2.2em;
}

.install-img{
    display: inline-flex;
}

.install-header{
    margin-top: 22px;
    margin-right: 15px;
}

.setupTitle{
    margin-top:30px;
}

#intro-text{
    margin-top:15px;
}

.okdLogo{
    height:200px;
}

.kabanero-logo{
    height:200px;
    margin-top:40px;
    margin-bottom:40px;
}

.borderTop{
    border: 1px solid gray;
}

.footer-margins{
    margin-top:50px;
    padding-top:10px;
}

.separatorMargin{
    margin-top:30px;
    margin-bottom:30px;
}

pre{
    background-color: #f1f4fe;
    font-family: Courier;
    font-size: 16px;
    color: #C43804;
    letter-spacing: 0;
    line-height: 24px;
    border: none;
}

#kabanero-foundation-setup-link{
    width: 227px;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #C43804;
    border-radius: 7px;
    padding: 10px 25px;
    margin-top: 40px;
    margin-bottom: 8px;
    text-align: center;
    transition: background-color .2s;
}
