<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
		<img id="kabanero_nav_img" src="/img/Kabanero_logo_white.png" class="img-fluid" alt="Kabanero Nav image">
        <a id="header-title" class="navbar-brand" href="/">{{site.title}}</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="navbar-toggler-icon"></div>
        </button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="nav-container">
                    
                <a class="float_right_section" target="_blank" href="{{site.slack_url}}">
                    <img id="header_slack_img" src="/img/slack_Icon.svg" class="img-fluid" alt="slack logo">
                </a>
                <a class="float_right_section" target="_blank" href="{{site.stackoverflow_url}}">
                    <img id="header_stackoverflow_img" src="/img/Header_StackO.svg" class="img-fluid" alt="stackoverflow logo">
                </a>
				<a class="float_right_section" target="_blank" href="{{site.github_url}}">
					<img id="header_github_img" src="/img/header_github_icon.svg" class="img-fluid" alt="github logo">
				</a>
				<a class="float_right_section" target="_blank" href="{{site.twitter_url}}">
					<img id="header_twitter_img" src="/img/header_twitter_icon.svg" class="img-fluid" alt="twitter logo">
                </a>
                

                <ul class="navbar-nav float_right_section">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/stacks">Stacks</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>
