{% if site.translations %}
<script type="text/javascript">
  $(document).ready(function () {
      var currentLanguage = `{{site.lang}}`
      var selectedLanguage = navigator.languages && navigator.languages[0] || navigator.language || navigator.userLanguage;
      if(currentLanguage !== selectedLanguage){
        if(selectedLanguage === 'en' || selectedLanguage === 'es' || selectedLanguage === 'it'){
        switch(selectedLanguage){
          case 'en':
              window.location.pathname = "/"
              break;
          case 'es':
              window.location.pathname = "/es/"
              break;
              case 'it':
              window.location.pathname = '/it/'
              break;
          default:
              window.location.pathname = '/'
              break;
            }
          }
      }
    });
</script>
{% endif %}
