{% include javascript.html %}
<script>
    $(document).ready(function () {
        let guideContentSection = $('#guide-content-section');
        let guideContentHeader = $('div#guide-content-section')[0].querySelectorAll("h2");
        for (i = 0; i < guideContentHeader.length; i++) {
            let sect1 = $('<div class="sect1"></div>')
            let sectionbody = $('<div class="sectionbody"></div>')
            let paragraph = $('<div class="paragraph"></div>')
            $(`#${guideContentHeader[i].id}`).nextUntil($(`h2`)).each(function (index, element) {
                sect1.append(guideContentHeader[i])
                if (element.className !== 'sect1') {
                    paragraph.append(element);
                }
                if (element.nodeName === 'H3') {
                    let sect2 = $('<div class="sect2"></div>')
                    sect2.append(element)
                    paragraph.append(sect2);
                }
            });
            sectionbody.append(paragraph);
            sect1.append(sectionbody);
            guideContentSection.append(sect1);

        }
        if ($('#markdown-toc > li > ul')) {
            $('#markdown-toc > li > ul').addClass('sectlevel2')
        }

        $('#toc-container').append($('#markdown-toc'))
        var li = $("<li></li>");
        var a = $("<a></a>");
        var end_of_guide_title = $('#end_of_guide > h2').first().text();
        a.attr('href', '#end_of_guide');
        a.text(end_of_guide_title);
        li.append(a);
        $("#toc-container > ul").append(li);

    });
</script>