<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT }, 'google_translate_element');
  }

  let selectedLanguage = navigator.languages && navigator.languages[0] || navigator.language || navigator.userLanguage;

  if (selectedLanguage.includes('en')) {
    $("#translation-disclaimer").remove();
  }
  else{
    setCookie('googtrans', `/en/${selectedLanguage}`, -1)
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }



</script>