<script type="text/javascript"
  src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT }, 'google_translate_element');
  }

  let selectedLanguage = navigator.languages && navigator.languages[0] || navigator.language || navigator.userLanguage;

  if (selectedLanguage.includes('en')) {
    document.cookie = "googtrans=/en/en";
    $("#translation-disclaimer").remove();
  }
  else {
    document.cookie = `googtrans=/en/${selectedLanguage}`;
  }

</script>